@charset "UTF-8";
body {
  background: #f9f9f9;
  padding-bottom: 768px;
  font-family: Open Sans; }
  body.degreeOpen {
    overflow: hidden; }
  body .background {
    background: rgba(255, 255, 255, 0.51);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    opacity: 0;
    transition: 0.2s opacity ease-out; }
    body .background.active {
      opacity: 1; }
  body .animate-show.ng-hide-add, body .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
    display: block !important; }
  body .animate-show.ng-hide-add.ng-hide-add-active, body .animate-show.ng-hide-remove {
    opacity: 0; }
  body .animate-show.ng-hide-add, body .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1; }

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 500px; }
  .header-container:before {
    content: "";
    padding: 50px 0;
    box-sizing: content-box;
    position: absolute;
    top: -100px;
    left: 0;
    background: #fed53d;
    height: 100%;
    width: 100%;
    transform: skewY(-4deg); }
  .header-container .left {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start; }
    .header-container .left .words {
      background: #fff;
      font-size: 100px;
      padding: 0 10px;
      display: inline-block;
      font-family: Neue Helvetica Condensed;
      font-weight: 100;
      text-transform: uppercase; }
      .header-container .left .words:first-child {
        margin-bottom: 10px; }

.apply {
  font-size: 31px;
  font-weight: 300;
  text-align: center;
  position: fixed;
  height: 92px;
  top: calc(50% - 46px);
  padding: 0 8vw;
  transition: 0.2s opacity ease-out; }
  .apply b {
    color: #184f2c; }
  .apply .button-holder {
    display: flex;
    justify-content: center; }
    .apply .button-holder .apply-button {
      border-bottom: 1px solid #184f2c;
      background: #fff;
      color: #184f2c;
      padding: 17px 39px;
      display: inline-block;
      font-size: 14px;
      min-height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px 25px 0;
      font-weight: 600;
      transition: 0.2s background ease-out; }
      .apply .button-holder .apply-button:hover {
        background: #184f2c;
        color: #fff; }

.degreeFinderHeader-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8vw; }
  .degreeFinderHeader-container .title {
    text-transform: uppercase;
    font-size: 40px;
    font-family: Neue Helvetica;
    display: flex; }
    .degreeFinderHeader-container .title .main {
      font-weight: 900;
      margin-right: 10px; }
    .degreeFinderHeader-container .title .sub {
      font-weight: 300; }
  .degreeFinderHeader-container .desc {
    line-height: 1.8;
    margin: 28px 0 40px;
    font-family: Open Sans; }

.filter-container {
  padding: 0 8vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }
  .filter-container .input-holder {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    max-width: 40%; }
    .filter-container .input-holder .text {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
      color: #000; }
    .filter-container .input-holder .program-holder {
      margin-top: 20px;
      user-select: none;
      position: relative; }
      .filter-container .input-holder .program-holder .program-viewer {
        background: #ced725;
        padding: 14px 42px 14px 9px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        position: relative; }
        .filter-container .input-holder .program-holder .program-viewer:hover {
          background: #c3cc23; }
        .filter-container .input-holder .program-holder .program-viewer.closed:after {
          content: "";
          width: 10px;
          height: 10px;
          position: absolute;
          right: 20px;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
          transform: rotate(45deg);
          margin-top: 5px; }
        .filter-container .input-holder .program-holder .program-viewer.open:after {
          content: "×";
          position: absolute;
          right: 16px;
          font-size: 30px;
          margin-top: -11px;
          color: #0b652c; }
        .filter-container .input-holder .program-holder .program-viewer .active-program {
          display: inline; }
      .filter-container .input-holder .program-holder .program-list {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        background: #fff;
        position: absolute;
        width: 100%;
        z-index: 10;
        max-height: 400px;
        overflow: auto; }
        .filter-container .input-holder .program-holder .program-list .program {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 12px 17px;
          cursor: pointer; }
          .filter-container .input-holder .program-holder .program-list .program:hover, .filter-container .input-holder .program-holder .program-list .program:focus {
            background: #f9f9f9; }
          .filter-container .input-holder .program-holder .program-list .program .square {
            width: 20px;
            height: 20px;
            border: 2px solid rgba(0, 0, 0, 0.54);
            border-radius: 2px;
            margin-right: 12px;
            position: relative; }
            .filter-container .input-holder .program-holder .program-list .program .square.active:after {
              box-sizing: border-box;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              position: absolute;
              left: 4.66667px;
              top: 0.22222px;
              display: table;
              width: 6.66667px;
              height: 13.33333px;
              border-width: 2px;
              border-style: solid;
              border-top: 0;
              border-left: 0;
              content: ""; }
          .filter-container .input-holder .program-holder .program-list .program .text {
            color: rgba(33, 33, 33, 0.87);
            font-size: 15px;
            font-family: Open Sans; }

.list-container {
  padding: 0 8vw;
  display: flex;
  flex-wrap: wrap; }
  .list-container .degree {
    padding: 20px 27px;
    cursor: pointer;
    background: #ffffff;
    flex: 1 auto;
    margin: 0 -2px -2px 0;
    position: relative;
    max-width: 50%;
    border: 2px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out, border 0.3s ease-out; }
    .list-container .degree:hover {
      background: #fcfcfc; }
    .list-container .degree:active {
      top: 1px;
      box-shadow: none; }
    .list-container .degree.ng-enter {
      opacity: 0;
      transform: translateY(-10px);
      border: 2px solid green;
      z-index: 5; }
    .list-container .degree.ng-enter-active {
      opacity: 1;
      transform: translateY(0px);
      z-index: 5; }
    .list-container .degree.ng-leave {
      opacity: 1;
      transform: translateY(0px);
      border: 2px solid red; }
    .list-container .degree.ng-leave-active {
      opacity: 0;
      transform: translateY(10px); }
    .list-container .degree .title {
      font-weight: 600;
      font-size: 15px; }
    .list-container .degree .school {
      font-size: 14px;
      font-family: Sorts Mill Goudy; }

.degreeInfo-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  z-index: 99999;
  transition: 0.3s transform ease-out;
  display: flex;
  justify-content: flex-end; }
  .degreeInfo-container.active {
    transform: translateX(0); }
  .degreeInfo-container .info-holder {
    height: 100%;
    background: #ffffff;
    z-index: 99999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    padding: 67px;
    box-sizing: border-box;
    max-width: 800px;
    overflow: auto; }

summary {
  font-family: Neue Helvetica; }
  summary .title {
    font-size: 24px;
    line-height: 65px;
    text-transform: uppercase;
    font-weight: 300; }
  summary .desc {
    font-weight: 300;
    color: #333333;
    font-size: 16px;
    line-height: 32px; }

courses {
  font-family: Neue Helvetica; }
  courses .title {
    font-size: 24px;
    line-height: 65px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 30px; }
  courses .course-container {
    margin-top: 12px; }
    courses .course-container .years {
      background: #EFEEED;
      display: inline-block;
      height: 42px;
      border: 1px solid #DFDDDB;
      font-family: Open Sans;
      font-weight: bold;
      font-size: 16px;
      color: #878585;
      padding: 8px 26px;
      margin: 0 -1px;
      position: relative;
      cursor: pointer;
      user-select: none; }
      courses .course-container .years.active {
        background: #263F6A;
        color: #fff; }
        courses .course-container .years.active:after {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          background: #263F6A;
          bottom: -4px;
          left: calc(50% - 4px);
          transform: rotate(45deg); }
    courses .course-container .flex {
      display: flex; }
      courses .course-container .flex .courses .course .semester-title {
        background: #DFDDDB;
        color: #878585;
        padding: 13px 29px;
        text-transform: uppercase;
        font-family: Open Sans;
        font-weight: bold; }
      courses .course-container .flex .courses .course .semester-course .course-class {
        padding: 16px 31px; }
        courses .course-container .flex .courses .course .semester-course .course-class:nth-child(2n+1) {
          background: #EFEEED; }

faculty {
  font-family: Neue Helvetica; }
  faculty .title {
    font-size: 24px;
    line-height: 65px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 30px; }
  faculty .faculty-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; }
    faculty .faculty-container .faculty {
      width: 200px;
      height: 200px;
      background-size: cover !important;
      background-position-y: -10px;
      filter: grayscale(100%);
      cursor: pointer;
      transition: 0.2s all ease-out; }
      faculty .faculty-container .faculty:hover {
        filter: grayscale(0%); }
    faculty .faculty-container .if-container {
      display: flex;
      max-width: 440px;
      margin-top: 20px;
      background-color: #acacac;
      border-right: 20px solid #fff;
      position: relative; }
      faculty .faculty-container .if-container .info {
        position: absolute;
        color: #fff;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 200px;
        height: 68px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 16px;
        font-family: Open Sans Condensed;
        font-size: 19px; }
        faculty .faculty-container .if-container .info .name {
          flex: 1 auto;
          line-height: 14px;
          font-weight: bold;
          min-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        faculty .faculty-container .if-container .info .position-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
      faculty .faculty-container .if-container .faculty-ratio {
        background: #6F2C3E;
        color: #FADA63;
        width: 220px;
        height: 200px;
        font-family: Open Sans;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        border-right: 20px solid #fff; }
        faculty .faculty-container .if-container .faculty-ratio .ratio {
          font-size: 63px;
          font-weight: bold;
          line-height: 83px; }
        faculty .faculty-container .if-container .faculty-ratio .text {
          font-size: 15px;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 17px; }

/*# sourceMappingURL=compiled.css.map */
