<div class="header-container">
    <div class="left">
        <div class="words">Something</div>
        <div class="words">for Everyone</div>
    </div>
    <div class="right">

    </div>
</div>

<div class="apply" ng-if="windowScrollPosition > 0" style="opacity: {{windowScrollPosition}}">
    At <b>Southern Adventist University</b> you can find how God’s purpose combines with your passions and dreams. Come join us!
    <div class="button-holder">
        <a class="request apply-button" href="#">
            <div>Request Information</div>
        </a>
        <a class="visit apply-button" href="#">
            <div>Visit Campus</div>
        </a>
    </div>
</div>