faculty
    font-family: Neue Helvetica
    .title
        font-size: 24px
        line-height: 65px
        text-transform: uppercase
        font-weight: 300
        margin-top: 60px
    .faculty-container
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        align-items: flex-start
        margin: -20px -20px 0 0
        width: calc(100% + 40px)
        max-width: 575px
        .if-container
            display: flex
            background-color: #acacac
            border-top: 20px solid #fff
            border-right: 20px solid #fff
            position: relative
            .info
                position: absolute
                color: #fff
                bottom: 0
                right: 0
                z-index: 1
                width: 100%
                height: 68px
                background: linear-gradient(to bottom, rgba(0,0,0,0), #000)
                display: flex
                flex-wrap: wrap
                align-items: center
                padding: 16px
                font-family: Neue Helvetica Condensed
                font-size: 19px
                pointer-events: none
                .name
                    flex: 1 auto
                    line-height: 1em
                    font-weight: bold
                    min-width: 100%
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                .position-title
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
            .faculty
                width: 170px
                height: 170px
                background-size: cover !important
                background-position-y: -10px
                filter: grayscale(100%)
                cursor: pointer
                transition: .2s all ease-out
                &:hover
                    filter: grayscale(0%)
        .faculty-ratio
            background: #6F2C3E
            color: #FADA63
            width: 170px
            height: 170px
            font-family: Open Sans
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            padding: 20px
            margin: 20px 20px 0 0
            .ratio
                font-size: 63px
                font-weight: bold
                line-height: 83px
            .text
                font-size: 15px
                font-weight: bold
                text-transform: uppercase
                line-height: 17px